.title {
    margin-top: 1.2em;
    font-size: 2.35em;
}

.my_page {
    margin-top: var(--default-top-margin);
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    flex-direction: column;

    .profile_img_wrapper {
        margin-top: var(--default-top-margin);
        display: flex;
        justify-content: center;

        .profile_img_border{
            overflow: hidden;

            width: 180px;
            height: 180px;

            border: var(--color-1) 5px solid;
            border-radius: 50%;

            cursor: pointer;

            .profile_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .profile_data_wrapper {
        display: flex;
        justify-content: center;

        .profile_data_body{
            color: var(--font-color);
            margin-top: var(--default-top-margin);
            width: 62%;

            .profile_data{
                margin-top: 50px;
                text-align: left;
                color: var(--font-color);

                .profile_description{
                    font-weight: bold;
                    font-size: 1.2em;
                    color: var(--color-4);
                }

                .profile_value {
                    margin-left: 2px;
                    font-size: 0.8em;
                    word-break: break-all;
                }
            }
        }
    }

    .profile_button_body {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 50px;

        .action-button {
            width: 80%;
        }
    }

}
















