:root {
  --background-color: #f9fafb;
  --color-1: #abde84;
  --color-2: #97d767;
  --color-3: #84cf4b;
  --color-4: #75bf43;

  --color-red: #ff6f6e;
  --color-blue: #4b6fff;

  --font-color: #111827;

  --input-border-color: #d1d5db;
  --border-radius: 4px;
  --main-width: 450px;
  --main-width-mobile: 360px;
  --default-top-margin: 25px;
}
