@import "global";

@font-face {
  font-family: 나눔스퀘어라운드;
  src: url('static/font/NanumSquareRound/NanumSquareRoundB.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 나눔스퀘어라운드;
  src: url("static/font/NanumSquareRound/NanumSquareRoundEB.ttf") format("truetype");
  font-weight: bold;
}


* {
  font-family: 나눔스퀘어라운드, Helvetica, sans-serif;
  letter-spacing: 3px;
  text-indent: 3px;
  -webkit-tap-highlight-color: transparent;
  color: var(--font-color);
}

html {
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  text-indent: 0;
}

@media screen and (max-width: 540px) {
  html{
    display: block;
  }
}


body {
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 40em;
}

@media screen and (max-width: 540px) {
  body {
    display: block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
  }
}


.App-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App_container {
  text-align: center;
  width: var(--main-width);
}

@media screen and (max-width: 540px) {
  .App_container {
    text-align: center;
    width: var(--main-width-mobile);
  }
}

p {
  margin: 0;
}

::-webkit-scrollbar {
 display: none;
}


select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c2c6c9;
}

textarea {
  letter-spacing: .1em;
  width: 100%;
  height: 2.5em;
  font-size: 1.1em;
  border: 1px none #f1f1f1;
  border-bottom-style: solid;
  background-color: transparent;

  cursor: text;
  /*border-radius: 4px;*/
  text-decoration: none;
  outline: none;
  transition: color 5s ease, background-color .5s ease;
  -webkit-transition: color 5s ease, background-color .5s ease;
  color: #303030;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea::placeholder {
  color: #f1f1f1;
  font-size: 1.1em;
  position: relative;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"]{
  position: relative;
  letter-spacing: .1em;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-size: 1.1em;
  border: 1px solid var(--input-border-color);
  background-color: #ffffff;

  cursor: text;
  border-radius: var(--border-radius);
  text-decoration: none;
  outline: none;
  transition: color 5s ease, background-color .5s ease;
  -webkit-transition: color 5s ease, background-color .5s ease;
  color: var(--font-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  background-color: #ffffff15;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  z-index: 3;
  outline: none !important;
  border: 2px solid var(--color-2);

  transition: color 5s ease, background-color .5s ease;
  -webkit-transition: color 5s ease, background-color .5s ease;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active,
input[type="number"]:-webkit-autofill,
input[type="number"]:-webkit-autofill:hover,
input[type="number"]:-webkit-autofill:focus,
input[type="number"]:-webkit-autofill:active,
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:active,
input[type="email"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="email"]:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-transition: background-color 9999s ease-out !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  /*-webkit-text-fill-color: #fff !important;*/
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: #9fa5a5;
  font-size: 1.1em;
  position: relative;
  top: 5%;
}

a, .action-button, .submit-button {
  display: inline-block;

  background-color: var(--color-2);
  /*box-shadow: 2px 2px 5px rgba(0,0,0,0.4);*/

  border-radius: var(--border-radius);

  outline: none;
  border: 1px solid transparent;
  font-size: 1.2em;
  transition: color 5s ease, background-color .5s ease;
  -webkit-transition: color 5s ease, background-color .5s ease;
  text-decoration: none;

  .button-text {
    color: #ffffff !important;
  }
}

a:hover, .action-button:hover, .submit-button:hover {
  cursor:pointer;
  transition: color 5s ease, background-color .5s ease;
  -webkit-transition: color 5s ease, background-color .5s ease;
  /*border: 1px solid #d58473;*/
  /*color: #d58473;*/
  background-color: var(--color-3);
}

* {
  box-sizing: border-box;
}


.modal_div {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5em;
  padding-bottom: 5em;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,.4);
}



input[type="checkbox"] + label:before {
  border-radius: var(--border-radius);
}

input[type="checkbox"]{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="checkbox"]:hover + label:before{
  border-color: var(--color-2);
  cursor: pointer;
}


input[type="checkbox"] + label{
  position: relative;
  padding-left: 26px;
  font-weight: normal;
}

input[type="checkbox"] + label:before, input[type="checkbox"] + label:after,
input[type="radio"] + label:before,
input[type="radio"] + label:after {
  box-sizing: content-box;
  position: absolute;
  content: '';
  display: block;
  left: 0;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  border: 2px solid var(--color-2);
  text-align: center;
}

input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  background-color: var(--color-2);
  top: 50%;
  left: 6px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}


input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 5px;
  width: 7px;
  height: 4px;
  margin-top: -5px;
  border-style: solid;
  border-color: var(--color-2);
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

input[type="checkbox"]:checked + label:before {
  -moz-animation: borderscale 200ms ease-in;
  -webkit-animation: borderscale 200ms ease-in;
  animation: borderscale 200ms ease-in;
}

input[type="checkbox"]:checked + label:after {
  content: '';
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -moz-transition: -moz-transform 200ms ease-out;
  -o-transition: -o-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
}

